<!DOCTYPE html>
<html>
  <head>
    <title>first ui</title>
    <link rel='stylesheet' href='../stylesheets/index.css' />
  </head>
  <body>
    <main>
      <img id='svg' src="../images/flatimore.svg" alt="">
      <img id='first' src="../images/first.png" alt="">
      <a href="/login" id="nextp">next >>></a>
    </main>
  </body>
</html>
