<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel='stylesheet' href='../stylesheets/login.css' />
    <title>first ui/login</title>
</head>
<body>
    <main>
        <div class="outer">
            <div id="overlay">
            </div>
            <img src="../images/bgimg.jpg" alt="" class="bgimg">
        </div>
        <img src="../images/tomato.png" alt="" class="tomato">
    </main>
    <script src="../javascripts/login.js"></script>
</body>
</html>