*{
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}
html,body{
  height: 100%;
  width: 100%;
  font-family: 'poppins';
}
main{
  min-height: 100vh;
  width: 100%;
  background-color: #F8F8F8;
  overflow: hidden;
  position: relative;
}
.outer{
  width: 65vmax;
  height:65vmax;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
  margin-left: -3.5vmax;
  margin-top: -31vmax;
  background-color: red;
}
.bgimg{
  height: 65vmax;
}
#overlay{
  width: 65vmax;
  height:65vmax;
  position: absolute;
  background: #FF0000;
  opacity: .6;
}
.tomato{
  position: absolute;
  bottom: -5vmin;
  right: -6vmin;
  height: 15vmax;
}